<!-- <p>create works!</p> -->

<form [formGroup]="dados" (ngSubmit)="cadastro()" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">nome</label>
      <input formControlName="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input  formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">sobrenome</label>
      <input  formControlName="surname" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">email</label>
      <input  formControlName="email" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary" >Enviar</button>
  </form>


